body{
	margin: 0;
	position: relative;
}
#header{
	position: fixed;
	top:0;
	width: 100%;
	height: 10vh;
	background-color: lightblue;
}
#signButtons{
	position: absolute;
	top:0;
	right:0;
}
#main{
	position: absolute;
	top: 10vh;
	background-color:lightgrey;
}